{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<h3 class="text-primary">My Farrier Tour</h3>
	<p class="lead">Application complète pour les maréchaux: gestion des rendez vous, fiches clients, fiches cheval, facturation, gestion de stock et optimisation des tournées.</p>
	<hr/>

	<div class="container">
		<div class="row gx-4 gy-4 align-items-center">
            <div class="col-md-6">
			    <div class="bg-dark p-3">
				    <h3>Interventions du jour</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Début</th>
                                <th>Cheval</th>
                                <th>Prestation</th>
                                <th>Lieu</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions %}
                            <tr class="">
                                <td>{{ intervention.startDate ? intervention.startDate|date('H:i') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_horse_card', {'id': intervention.horse.id}) }}">
                                        {{ intervention.horse.name }}
                                    </a>
                                </td>
                                <td>{{ intervention.service }}</td>
                                <td>{{ intervention.horse.hoster.adressHoster.city }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">Pas d'interventions prévues aujourd'hui</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>    
                </div>
			</div>
			<div class="col-md-6">
                <div class="row gx-4 gy-4">
                    <div class="bg-dark p-3">
                        <h3>Rechercher dans mes clients et mes chevaux</h3>
                        <form action="" method="post" class="d-flex flex-column  bg-light shadow rounded px-3 pt-3">
                            <label class="text-center text_user rounded bg-light" for="username"></label>
                            <input type="text" id="username" name="_username">
                            <button class="btn text-success">Rechercher</button>
                        </form>
                    </div>
                    <div class="bg-dark p-3">
                        <h3>Commandes à faire</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Quantité minimum</th>
                                    <th>Quantité restante</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>Fer Antérieur Mustad Libero Equi 1 pinçon Taille 2</td>
                                    <td>6</td>
                                    <td>2</td>
                                </tr>
                                <tr class="">
                                    <td>Plaque Delpano Combi cuir plat</td>
                                    <td>8</td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
			</div>
		</div>
	</div>

{% endblock %}
