{% extends 'base.html.twig' %}

{% block title %}Hoster index{% endblock %}

{% block body %}
    <h1>Liste des hébergeurs</h1>
    <p class="lead">Pour gérer les lieux de stationnement des chevaux.</p>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hoster in hosters %}
            <tr>
                <td>{{ hoster.name }}</td>
                <td>{{ hoster.adressHoster.firstLine }} - {{ hoster.adressHoster.PostalCode }} {{ hoster.adressHoster.city }}</td>
                <td>
                    <a href="{{ path('app_hoster_show', {'id': hoster.id}) }}">Voir</a>
                    <a href="{{ path('app_hoster_edit', {'id': hoster.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hoster_new') }}">Ajouter un nouvel hébergeur</a>
{% endblock %}
