{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Liste des interventions</h1>
    <p class="lead">Pour gérer les interventions.</p>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Début</th>
                <th>Cheval</th>
                <th>Prestation</th>
                <th>Lieu</th>
                <th>Réalisé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.startDate ? intervention.startDate|date('d-m-Y') : '' }}</td>
                <td>{{ intervention.horse.name }}</td>
                <td>{{ intervention.service }}</td>
                <td>{{ intervention.horse.hoster.adressHoster.city }}</td>
                <td>{{ intervention.done ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">Voir</a>
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Ajouter une nouvelle intervention</a>
{% endblock %}
