{% extends 'base.html.twig' %}

{% block title %}Ma tournée{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('map') }}
{% endblock %}

{% block body %}
    <h1>Ma tournée</h1>
    <p class="lead">Pour préparer mon trajet du jour.</p>
    <hr />

    <div class="row gx-4 gy-4">
        <div id="map" class="col-lg-6 ms-3"></div>

        <div class="col-lg-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Début</th>
                        <th>Cheval</th>
                        <th>Prestation</th>
                        <th>Lieu</th>
                    </tr>
                </thead>
                <tbody>
                {% for intervention in interventions %}
                    <tr class="horseLocation" 
                        data-name="{{ intervention.horse.name }}"
                        data-service="{{ intervention.service }}"
                        data-lat="{{ intervention.horse.hoster.adressHoster.latitude }}"
                        data-lng="{{ intervention.horse.hoster.adressHoster.longitude }}">
                        <td>{{ intervention.startDate ? intervention.startDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ intervention.horse.name }}</td>
                        <td>{{ intervention.service }}</td>
                        <td>{{ intervention.horse.hoster.adressHoster.city }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
