{% extends 'base.html.twig' %}

{% block title %}Ma tournée{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('map') }}
{% endblock %}

{% block body %}
    <h1>Ma tournée</h1>
    <p class="lead">Pour préparer mes trajets.</p>
    <hr />

    <div class="row gx-4 gy-4 p-3 justify-content-center">
        <div id="map" class="col-lg-6"></div>

        <div class="col-lg-6">
            <div class="row justify-content-center">
                <div class="pickDate w-75 mb-4"> 
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn text-success">{{ button_label|default('Sélectionner') }}</button>
                    {{ form_end(form) }}   
                </div>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Début</th>
                                <th>Cheval</th>
                                <th>Prestation</th>
                                <th>Lieu</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions %}
                            <tr class="horseLocation" 
                                data-name="{{ intervention.horse.name }}"
                                data-service="{{ intervention.service }}"
                                data-lat="{{ intervention.horse.hoster.adressHoster.latitude }}"
                                data-lng="{{ intervention.horse.hoster.adressHoster.longitude }}">
                                <td>{{ intervention.startDate ? intervention.startDate|date('d-m-Y H:i') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_horse_card', {'id': intervention.horse.id}) }}">
                                        {{ intervention.horse.name }}
                                    </a>
                                </td>
                                <td>{{ intervention.service }}</td>
                                <td>{{ intervention.horse.hoster.adressHoster.city }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
