{% extends 'base.html.twig' %}

{% block title %}Horse index{% endblock %}

{% block body %}
    <h1>Chevaux</h1>
    <p class="lead">Pour gérer les chevaux.</p>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Surnom</th>
                <th>Type</th>
                <th>Sexe</th>
                <th>Robe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horse in horses %}
            <tr>
                <td>{{ horse.name }}</td>
                <td>{{ horse.nickname }}</td>
                <td>{{ horse.type }}</td>
                <td>{{ horse.sexe }}</td>
                <td>{{ horse.color }}</td>
                <td>
                    <a href="{{ path('app_horse_card', {'id': horse.id}) }}">Détail</a>
                    <a href="{{ path('app_horse_edit', {'id': horse.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_horse_new') }}">Ajouter un cheval</a>
{% endblock %}
