{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block body %}
    <h1>Adresses</h1>
    <p class="lead">Pour gérer les coordonnées.</p>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>N° et voie</th>
                <th>Complément d'adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>
                <td>{{ adress.firstLine }}</td>
                <td>{{ adress.secondLine }}</td>
                <td>{{ adress.PostalCode }}</td>
                <td>{{ adress.city }}</td>
                <td>{{ adress.latitude }}</td>
                <td>{{ adress.longitude }}</td>
                <td>
                    <a href="{{ path('app_adress_show', {'id': adress.id}) }}">Voir</a>
                    <a href="{{ path('app_adress_edit', {'id': adress.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adress_new') }}">Ajouter une adresse</a>
{% endblock %}
